div{
display:inline-block;
}
.first{
height:100px;
width:100px;
border-radius:5px;
background-color:red;

}
.second{
height:100px;
width:100px;
border-radius:5px;
background-color:green;

}
.third{
height:100px;
width:100px;
border-radius:5px;
background-color:powderblue;

}
.fourth{
height:100px;
width:100px;
border-radius:5px;
background-color:orange;

}
.green{
background-color:magenta;
}