div{
display:inline-block;
}
.first{
height:100px;
width:100px;
border-radius:50px;
background-color:red;

}
.second{
height:100px;
width:100px;
border-radius:50px;
background-color:green;

}
.third{
height:100px;
width:100px;
border-radius:50px;
background-color:powderblue;

}
.fourth{
height:100px;
width:100px;
border-radius:50px;
background-color:indigo;

}
.fifth{
height:100px;
width:100px;
border-radius:50px;
background-color:red;

}
.sixth{
height:100px;
width:100px;
border-radius:50px;
background-color:green;

}
.seventh{
height:100px;
width:100px;
border-radius:50px;
background-color:powderblue;

}
.eighth{
height:100px;
width:100px;
border-radius:50px;
background-color:violet;
}
.new{
height:100px;
width:100px;
border-radius:1px;
background-color:cyan;
}
.first_input{
height:95px;
width:95px;
border-radius:1px;
}
.new_1{
height:100px;
width:100px;
border-radius:1px;
background-color:white;

}
.new_2{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
.new_3{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
.new_4{
height:100px;
width:100px;
border-radius:1px;
background-color:white;

}
.new_5{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
.new_6{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
.new_7{
height:100px;
width:100px;
border-radius:1px;
background-color:white;

}
.new_8{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
.new_9{
height:100px;
width:100px;
border-radius:1px;
background-color:white;
}
table,td{
height:100px;
width:100px;
margin:auto;
border:5px solid black;
padding:5px;
}
